body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video_container {
  padding: 5px;
  display: flex;
  gap: 10px;
}

.video {
  flex: 1;
  max-width: 50vw;
  max-height: 50vh;
  overflow: hidden;
}

video {
  width: 100%;          /* Растягиваем видео на всю ширину контейнера */
  height: 100%;         /* Растягиваем видео на всю высоту контейнера */
  object-fit: cover;    /* Обеспечивает обрезку видео, чтобы оно заполнило контейнер */
  transform: scaleX(-1);
}
